language: python

branches:
  except:
    - gh-pages

stages:
  - test

jobs:
  include:
    - python: 3.6
      env: TOXENV=check,unit_py3_6
    - python: 3.7
      dist: xenial
      sudo: true
      env: TOXENV=check,unit_py3_7

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y git
  - sudo apt-get install -y shellcheck

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - tox "-n $(nproc)"
