#
# Requirement files for Python Virtual Environments
#

# Shell interface for docopt, the command-line interface description language
docopt

# Network request/response library
requests

# YAML file parsing
PyYAML

# config file schema
cerberus

# kiwi
kiwi

# download with progress info
progressbar2
