[Unit]
Description=Shared KIWI Bundle Volume

[Mount]
What=kiwibundle
Where=/bundle
Type=9p
Options=trans=virtio,version=9p2000.L

[Install]
WantedBy=multi-user.target
