box:
  -
    name: tumbleweed
    mem_mb: 8096M
    processors: 4
    console: hvc0
    arch:
      -
        name: x86_64
        cmdline:
          - root=/dev/vda3
          - rd.plymouth=0
        source: obs://Virtualization:Appliances:SelfContained:tumbleweed/images
        packages_file: TumbleWeed-Box.x86_64-1.43.2-System-BuildBox.report
        boxfiles:
          - TumbleWeed-Box.x86_64-1.43.2-Kernel-BuildBox.tar.xz
          - TumbleWeed-Box.x86_64-1.43.2-System-BuildBox.qcow2
        use_initrd: true

      -
        name: aarch64
        cmdline:
          - root=/dev/vda2
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:tumbleweed/images
        packages_file: TumbleWeed-Box.x86_64-1.43.2-System-BuildBox.report
        boxfiles:
          - TumbleWeed-Box.x86_64-1.43.2-Kernel-BuildBox.tar.xz
          - TumbleWeed-Box.x86_64-1.43.2-System-BuildBox.qcow2
        use_initrd: true

      -
        name: s390x
        cmdline:
          - root=/dev/vda1
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:tumbleweed/images
        packages_file: TumbleWeed-Box.s390x-1.43.2-System-BuildBox.report
        boxfiles:
          - TumbleWeed-Box.s390x-1.43.2-Kernel-BuildBox.tar.xz
          - TumbleWeed-Box.s390x-1.43.2-System-BuildBox.qcow2
        use_initrd: true

  -
    name: leap
    mem_mb: 8096M
    processors: 4
    console: hvc0
    arch:
      -
        name: x86_64
        cmdline:
          - root=/dev/vda1
          - rd.plymouth=0
        source: obs://Virtualization:Appliances:SelfContained:leap/images
        packages_file: Leap-Box.x86_64-1.15.4-System-BuildBox.report
        boxfiles:
          - Leap-Box.x86_64-1.15.4-Kernel-BuildBox.tar.xz
          - Leap-Box.x86_64-1.15.4-System-BuildBox.qcow2
        use_initrd: true

  -
    name: fedora
    mem_mb: 8096M
    processors: 4
    console: hvc0
    arch:
      -
        name: x86_64
        cmdline:
          - root=/dev/vda3
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:fedora/images
        packages_file: Fedora-Box.x86_64-1.37.1-System-BuildBox.report
        boxfiles:
          - Fedora-Box.x86_64-1.37.1-Kernel-BuildBox.tar.xz
          - Fedora-Box.x86_64-1.37.1-System-BuildBox.qcow2
        use_initrd: true

  -
    name: ubuntu
    mem_mb: 8096M
    processors: 4
    console: hvc0
    arch:
      -
        name: x86_64
        cmdline:
          - root=/dev/vda3
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:ubuntu/images
        packages_file: Ubuntu-Box.x86_64-1.22.04-System-BuildBox.report
        boxfiles:
          - Ubuntu-Box.x86_64-1.22.04-Kernel-BuildBox.tar.xz
          - Ubuntu-Box.x86_64-1.22.04-System-BuildBox.qcow2
        use_initrd: true

      -
        name: aarch64
        cmdline:
          - root=/dev/vda2
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:ubuntu/images
        packages_file: Ubuntu-Box.aarch64-1.22.04-System-BuildBox.report
        boxfiles:
          - Ubuntu-Box.aarch64-1.22.04-Kernel-BuildBox.tar.xz
          - Ubuntu-Box.aarch64-1.22.04-System-BuildBox.qcow2
        use_initrd: true

  -
    name: universal
    mem_mb: 8096M
    processors: 4
    console: hvc0
    arch:
      -
        name: x86_64
        cmdline:
          - root=/dev/vda3
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:universal/images
        packages_file: Universal-Box.x86_64-1.41.1-System-BuildBox.report
        boxfiles:
          - Universal-Box.x86_64-1.41.1-Kernel-BuildBox.tar.xz
          - Universal-Box.x86_64-1.41.1-System-BuildBox.qcow2
        use_initrd: true

      -
        name: aarch64
        cmdline:
          - root=/dev/vda2
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:universal/images
        packages_file: Universal-Box.aarch64-1.41.1-System-BuildBox.report
        boxfiles:
          - Universal-Box.aarch64-1.41.1-Kernel-BuildBox.tar.xz
          - Universal-Box.aarch64-1.41.1-System-BuildBox.qcow2
        use_initrd: true

      -
        name: s390x
        cmdline:
          - root=/dev/vda1
          - rd.plymouth=0
          - selinux=0
        source: obs://Virtualization:Appliances:SelfContained:universal/images
        packages_file: Universal-Box.s390x-1.41.1-System-BuildBox.report
        boxfiles:
          - Universal-Box.s390x-1.41.1-Kernel-BuildBox.tar.xz
          - Universal-Box.s390x-1.41.1-System-BuildBox.qcow2
        use_initrd: true
