[Unit]
Description=Start kiwi build process
After=network.target
Requires=network-online.target

[Service]
ExecStart=/bin/run_kiwi

[Install]
WantedBy=multi-user.target
